<link rel="stylesheet" href="../../css/newParty.css">

<div class="timer">
    {{timer}}
</div>

<div ng-show="currentStep == 1">
    <p>Choisissez un niveau de difficulté</p>
    <div class="d-flex justify-content-center">
        <div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" ng-model="durationQuestion" name="durationQuestion" value="3" ng-checked="true">Facile
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" ng-model="durationQuestion" name="durationQuestion" value="2">Moyen
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" ng-model="durationQuestion" name="durationQuestion" value="1">Difficile
                </label>
            </div>
            <br>
            <br>
            <button type="button" ng-click="nextStep();getThemes()" class="btn btn-info">Suivant</button>
        </div>
    </div>
</div>

<div ng-show="currentStep == 2">
    <p>Maintenent, dites nous ! quel thème vous préferez ?</p>
    <div class="d-flex justify-content-center">
        <div>
            <div class="form-check" ng-repeat="theme in themes">
                <label class="form-check-label" >
                    <input type="radio" class="form-check-input" ng-model="themeParty" name="themeParty" value="{{theme.id}}" ng-checked="theme.id == firstThemeId" ng-change="handleRadioClick(theme.id)">{{theme.name}}
                </label>
            </div>
            <br>
            <br>
            <button type="button" ng-click="previousStep()" class="btn btn-warning">Précedent</button>
            <button type="button" ng-click="nextStep()" class="btn btn-info">Suivant</button>
        </div>
    </div>

</div>

<div ng-show="currentStep == 3">
    <p>C'est parti, à vous</p>
    <div class="d-flex justify-content-center">
        <div>
            <button type="button" ng-click="nextStep();getQuizz()" class="btn btn-info btn-lg">Commancer</button>
            <br>
            <br>
            <button type="button" ng-click="previousStep()" class="btn btn-warning btn-lg">Précedent</button>
            <br>
            <br>
            <button type="button" ng-click="abandon()" class="btn btn-danger btn-lg">Abandonner</button>
        </div>
    </div>
</div>

<div ng-show="currentStep == 4">
    <p>{{quizz.question}}</p>
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <!-- propositions -->
                <div  class="card card-proposition col-md-6" ng-repeat="proposition in quizz.propositions" ng-click="chooseResponse($event, $index)" id="prop_{{$index}}">
                    <div class="card-body">
                        <h4 class="card-title">Proposition n° {{$index + 1}}</h4>
                        <p class="card-text">{{proposition}}</p>
                        <div ng-show="goodResponse == $index">
                            <a class="card-link">Anecdote</a>
                            <p class="anecdote"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <button style="margin-left: 100px;" type="button" ng-show="showNextQuizz" ng-click="nextQuizz()" class="btn btn-info  btn-lg btn-block">Quizz suivant</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="currentStep == 5">
    <div class="d-flex justify-content-center">
        <h3>Votre score est {{score}}</h3>
    </div>
</div>

