<link rel="stylesheet" href="../../css/dashboard.css">
<div ng-controller="DashBoardController">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="card-counter dashboard">
                    <i class="fa fa-tachometer-alt"></i>
                    <span class="count-name">Tableau<br>de bord</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter new-party">
                    <i class="fa fa-play"></i>
                    <span class="count-name">Nouvelle<br>partie</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter profile">
                    <i class="fa fa-user"></i>
                    <span class="count-name">Mon profile</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter history">
                    <i class="fa fa-history"></i>
                    <span class="count-numbers">6875</span>
                    <span class="count-name-number">Historique</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter users">
                    <i class="fa fa-users"></i>
                    <span class="count-numbers">35</span>
                    <span class="count-name-number">Amis</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter statistics">
                    <i class="fa fa-chart-area"></i>
                    <span class="count-numbers">35</span>
                    <span class="count-name-number">Statis-<br>tiques</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter about">
                    <i class="fa fa-info-circle "></i>
                    <span class="count-name">About us</span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card-counter logout">
                    <i class="fa fa-sign-out-alt"></i>
                    <span class="count-name">Logout</span>
                </div>
            </div>
        </div>
    </div>

</div>