<link rel="stylesheet" href="../../css/dashboard.css">
<div ng-controller="DashBoardController">
    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <a href="/dashboard">
                    <div class="card-counter dashboard">
                        <i class="fa fa-tachometer-alt"></i>
                        <span class="count-name">Tableau<br>de bord</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="/newParty">
                    <div class="card-counter new-party">
                        <i class="fa fa-play"></i>
                        <span class="count-name">Nouvelle<br>partie</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="/profile">
                    <div class="card-counter profile">
                        <i class="fa fa-user"></i>
                        <span class="count-name">Mon profile</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="/history"   ng-controller="HistoryController">
                    <div class="card-counter history" ng-click="history()">
                        <i class="fa fa-history"></i>
                        <span class="count-numbers">6875</span>
                        <span class="count-name-number">Historique</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="/users">
                    <div class="card-counter users">
                        <i class="fa fa-users"></i>
                        <span class="count-numbers">35</span>
                        <span class="count-name-number">Amis</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="/statistics">
                    <div class="card-counter statistics">
                        <i class="fa fa-chart-area"></i>
                        <span class="count-numbers">35</span>
                        <span class="count-name-number">Statis-<br>tiques</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="/about">
                    <div class="card-counter about">
                        <i class="fa fa-info-circle "></i>
                        <span class="count-name">About us</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3" ng-controller="LogoutController">
                <a >
                    <div class="card-counter logout" ng-click="logout()">
                        <i class="fa fa-sign-out-alt"></i>
                        <span class="count-name">Logout</span>
                    </div>
                </a>
            </div>

        </div>
    </div>

</div>